<mat-sidenav-container fullscreen>

  <!-- Side bar de navegación que se despliga a la izquierda -->
  <mat-sidenav #sidenav mode="push" [ngStyle]="{width: '250px'}">
    <mat-toolbar color="accent">

      <span>Menú</span>

      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>

      </button>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item
        *ngFor="let item of sidebarItems"
        [routerLink]="item.url"
        (click)="sidenav.toggle()">

        <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
        {{item.label}}
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>

  <!-- Sidenav principal -->
  <mat-toolbar color="primary" class="fixed z-5">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>

    </button>

    <span class="spacer"></span>

    <button mat-stroked-button>
      <mat-icon>logout</mat-icon>
        Cerrar Sesión
    </button>

  </mat-toolbar>

  <div class="container p-3">
    <router-outlet />

  </div>

</mat-sidenav-container>

