
<div class="flex flex-column">
  <span class="text-lg mb-4 text-white">Login</span>

  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <!-- Al ponerle el matInput, se le da un estilo de input de Angular material -->
    <input type="text" matInput placeholder="Nombre de usuario">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <!-- Al ponerle el matInput, se le da un estilo de input de Angular material -->
    <input type="password" matInput placeholder="Contraseña">
  </mat-form-field>

  <button mat-button mat-flat-button color="primary">
    <mat-icon>save</mat-icon>
    Ingresar
  </button>


  <div class="flex justify-content-end mt-5">
    <button mat-raised-button color="accent">

      <a routerLink="/auth/new-account">¿Ya tienes cuenta?</a>
    </button>
  </div>
</div>
